<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<% unless @restaurant.reviews.empty? %>
    <p><strong>Reviews:</strong></p>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content %></p>
      <p><%= "*" * review.rating.to_i %></p>
    <% end %>
<% end %>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
